.body_container{
  width:80%;
  margin:0px auto;
  box-shadow: 0px 1px 3px rgba(0,0,0,.12), 0px 1px 2px rgba(0,0,0,.24);
  padding:30px;

  .todo_container:last-child{
    border-bottom:none;
  }
}

.todos_header{
  margin-bottom:30px;
  text-align:center;
}

.add_task_button{
  border:none;
  padding:10px;
  width:100%;
  outline:none;
  background:cyan;
  font-weight:bold;
  transition: background-color .2s;
  margin-bottom:30px;

  &:hover{
    cursor: pointer;
    background:lightcyan;
  }
}

.todoForm{
  transition:.3s;
}

.todo_container{
  display:grid;
  grid-template-columns:50px 1fr 100px;
  grid-gap:10px;
  align-items:center;

  text-align:left;
  padding:20px 10px;
  transition: background-color .3s;
  user-select: none;
  position: relative;
  border-bottom:1px solid lightgray;

  h3{
    margin-bottom:10px;
  }

  .edit_button{
    background:yellow;
    display:block;
    width:100%;
    padding:15px;
    border-radius:10px;
    opacity:0;
    text-align:center;
    transition:opacity .2s;
    border:none;
    font-size:16px;
    outline:none;

    &:hover{
      cursor: pointer;
    }
  }

  .complete_button{
    background:cyan;
    display:block;
    width:100%;
    padding:15px;
    border-radius:10px;
    text-align:center;
    transition:opacity .2s;
    border:none;
    font-size:16px;
    outline:none;
  }

  &:hover{
    cursor: pointer;
    background:#edfdfd;

    .edit_button{
      opacity:1;
    }
  }

  i{
    padding-left:15px;
  }
}

.todos_container{
  margin-bottom:30px;
}

.complete_tasks_button{
  border:none;
  padding:10px;
  width:100%;
  outline:none;
  background:cyan;
  font-weight:bold;
  transition: background-color .2s;

  &:hover{
    cursor: pointer;
    background:lightcyan;
  }
}

.noTasks,
.loading{
  color:lightgray;
  text-align:center;
  margin-bottom:30px;
}

.checked{
  font-weight:bolder;
  color:darkcyan;
}


// Form Styles

.todoForm{
  text-align:center;
  background:red;
}

form input{
  transition:.2s;
}

.input_container{
  margin-bottom:30px;
  position:relative;
  text-align:left;
}

.form_input{
  width:100%;
  padding:15px 0px;
  border:none;
  border-bottom:1px solid black;
  background:transparent;
}

.submit{
  margin-top:10px;
}

label{
  position:absolute;
  top:0;
  left:0;
  padding:13px 0px;
  transition:.3s;
}

input:focus ~ label,
input:valid ~ label{
  top:-23px;
  left:0;
  font-size:12px;
}

input:focus, input:valid{
  outline:none;
}

input:invalid {
  box-shadow: none;
}

textarea{
  padding:15px 0px;
  width:100%;
  height:47px;
  border:none;
  border-bottom:1px solid black;
  background:#fcfcfc;
  transition:.3s;
  overflow: auto;
}

.submit{
  border:none;
  background:white;
  border-radius:10px;
  margin-top:10px;
  width:100%;
  padding:10px;
  margin-top:15px;
  color:black;
  transition: background-color .3s;
}

.submit:hover{
  // font-weight:bold;
  background-color: orange;
}